.rounded {
  border: 1px solid;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.shadow {
  -moz-box-shadow: 5px 5px 6px #999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
  -webkit-box-shadow: 5px 5px 6px #999;
  border: thin gray solid;
  box-shadow: 5px 5px 6px #999;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#999999');
}
